header{
    background-color: gray;
    padding: 10px;
}
nav{
    background-color: darkslategrey;
    color:white;
    padding:8px;
}
.contenedor{
    display: grid;
    grid-template-columns: 70% 30%;
}
section{
   
   padding:5px;
   float: left;
   width: 70%;
   background-color: coral;
}
aside{
    float: left;
    width: 30%;
    background-color:blue;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
}
          
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 

nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }

    nav li:horver{
    background-color:#fff;
    color:#000;
    }

    .contenedor::after{
        content: "";
        display: block;
        clear:both;
    }
